<!---
layout: examples
title: Jumbotron Template
extra_css: "jumbotron.css"
--->

{% extends 'layout.html' %}
{% block title %}(App Title){% endblock %}
{% block pagetitle %}(Page Title : Cart Query){% endblock %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-5">Shopping Cart : Query</h2>
      <p>All fields are required. No validation now.</p>
    </div>
  </div>
 
  <div class="container">
    <!-- Example row of columns -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Discount</th>
          <th scope="col">Amount</th>
          <th scope="col">Update Time</th>
          <th scope="col">Manage</th>
        </tr>
      </thead>
      <tbody>
        {% if receiveddata %}
          <p class="text-right">Total {{ receiveddata|length }} records.
            &nbsp;&nbsp;
            <a class="btn btn-outline-success col-2" href="{% url 'cart_checkout' %}" role="button">Checkout</a>
          </p>
          {% for dataitem in receiveddata %}
          <tr>
            <form class="needs-validation" action="/cart/update/" method="post" novalidate>
              {% csrf_token %}
              <input type="hidden" id="objectid.{{ dataitem.objectid }}" name="objectid" value="{{ dataitem.objectid }}" required>
              <input type="hidden" id="objectid.{{ dataitem.productid }}" name="productid" value="{{ dataitem.productid }}" required>
              <input type="hidden" id="objectid.{{ dataitem.productname }}" name="productname" value="{{ dataitem.productname }}" required>
              <input type="hidden" id="objectid.{{ dataitem.price }}" name="price" value="{{ dataitem.price }}" required>
              <input type="hidden" id="objectid.{{ dataitem.discount }}" name="discount" value="{{ dataitem.discount }}" required>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ dataitem.productname }}</td>
              <td>{{ dataitem.price }}</td>
              <td>{{ dataitem.discount }}</td>
              <td><input type="number" id="objectid.{{ dataitem.count }}" name="count" value="{{ dataitem.count }}" min=1 required></td>
              <td>{{ dataitem.lastupdate }}</td>
              <td>
                <button class="btn btn-outline-primary" type="submit">Update</button>
                <a class="btn btn-outline-primary" href="{% url 'cart_delete' dataitem.objectid %}" role="button">Delete</a>
              </td>
          </form>
          </tr>
          {% endfor %}
        {% else %}
         <p class="text-right">Total 0 records. </p>
        {% endif %}
      </tbody>
    </table>
    <hr>
  </div> <!-- /container -->


</main>
<script type="text/javascript">


</script>
{% endblock %}

