{% extends 'layout.html' %}
{% block title %}(App Title){% endblock %}
{% block pagetitle %}(Page Title : Member Update){% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h2 class="display-5">Member Management : Update</h2>
    <p>All fields are required. No validation now.</p>    
  </div>
</div>

<div class="container text-center">
  {% if update_data %}
  <form class="form-signin " action="/member/update_action/" method="post" novalidate >
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="sr-only">User Name</label>
      <input type="text" id="username" name="username" value="{{ update_data.username }}" placeholder="username" class="form-control" required autofocus readonly >
    </div>
    <div class="mb-3">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" value="{{ update_data.password }}" placeholder="password"  class="form-control"required autofocus readonly >        
    </div>
    <div class="mb-3">
      <label for="email" class="sr-only">Email address</label>
      <input type="email" id="email" name="email"  value="{{ update_data.email }}" placeholder="email" class="form-control" required autofocus {{ update_tag }}>
    </div>
    <div class="mb-3">
      <label for="first_name" class="sr-only">First Name</label>
      <input type="text" id="first_name" name="first_name"  value="{{ update_data.first_name }}" placeholder="first_name" class="form-control" required autofocus {{ update_tag }}>
    </div>
    <div class="mb-3">
      <label for="last_name" class="sr-only">Last Name</label>
      <input type="text" id="last_name" name="last_name"  value="{{ update_data.last_name }}" placeholder="last_name" class="form-control" required autofocus {{ update_tag }}>
    </div>
   
    <input type="hidden" id="last_login" name="last_login" value="{{ update_data.last_login }}">
    <input type="hidden" id="date_joined" name="date_joined" value="{{ update_data.date_joined }}">
    <input type="hidden" id="is_staff" name="is_staff" value="{{ update_data.is_staff }}">
    <input type="hidden" id="is_superuser" name="is_superuser" value="{{ update_data.is_superuser }}">
    <input type="hidden" id="is_active" name="is_active" value="{{ update_data.is_active }}">
    <input type="hidden" id="auth_token" name="auth_token" value="{{ update_data.auth_token }}">

    {% if update_msg %}
    <div class="alert alert-info" role="alert">
      {{ update_msg }}
    </div>
    {% endif %}
    <br />

    <button class="btn btn-lg btn-primary" type="submit" {{ update_tag }} >Update</button>
    <a class="btn btn-lg btn-primary" href="{% url 'member_reload' %}">Reload</a>

  </form>
  <br />
  <hr />
  {% endif %}
</div>


{% endblock %}
